// stylelint-disable
html {
    min-width: 1150px;
    font-family: $openSans;
    font-size: 14px;
    line-height: (24/14); // 24px
    font-weight: 400;
    color: $black;
    background: $white;
    box-sizing: border-box;
    margin: 0 auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s $easeInOutCirc, border 0.3s $easeInOutCirc, background 0.3s $easeInOutCirc, opacity 0.3s $easeInOutCirc;

    &:hover {
        opacity: 0.8;
    }
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s $easeInOutCirc, border 0.3s $easeInOutCirc, background 0.3s $easeInOutCirc, opacity 0.3s $easeInOutCirc;

    &:hover {
        opacity: 0.8;
    }
}

.h-hide {
    display: none !important;
}

img {
    max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='file'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.container {
    max-width: 1150px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.h-is-red {
    color: $red;
}

.h-hide {
    display: none !important;
}
