<div class="js-suggestion"></div>

<script type="text/x-template" id="js-suggestion-template">
    <div class="suggestion" v-if="isOpen">
        <template v-for="(types, name) in suggestion">
            <ul v-if="types.items.length && name !== 'products'"
                class="suggestion__list" v-bind:class="'suggestion__list--' + name">
                <li v-for="item in types.items" class="suggestion__item">
                    <a v-bind:href="item[1]">
                        <strong><% item[0] %></strong>
                    </a>
                </li>
            </ul>

            <ul v-if="types.items.length && name === 'products'"
                class="suggestion__list" v-bind:class="'suggestion__list--' + name">
                <li v-for="item in productArrayToObject(types.items)" class="suggestion__item">
                    <a v-bind:href="item.link">
                        <strong class="suggestion__product-title"><% item.name %></strong>
                        <span class="suggestion__product-price"><% item.price %> <% item.currency %></span>
                        <span class="suggestion__product-company">
                        <% item.company %>
                        <span v-if="item.pack" class="suggestion__product-label">PRO <% item.pack %></span>
                    </span>
                    </a>
                </li>

                <li class="suggestion__item suggestion__item--more">
                    <a v-bind:href="getHrefByTypeName(name)">
                        еще <% pluralProduct(productMore) %>
                    </a>
                </li>
            </ul>
        </template>

        <template v-for="(types, name) in suggestion">
            <ul v-if="types.count > 0 && name !== 'products'"
                class="suggestion__list" v-bind:class="'suggestion__list--' + name">
                <li class="suggestion__item">
                    <a v-bind:href="getHrefByTypeName(name)">
                        <strong>
                            <% pluralResult(types.count) %> в
                            <span class="h-is-red"><% name | rusType %></span>
                        </strong>
                    </a>
                </li>
            </ul>
        </template>

        <div v-if="suggestion.length === 0" class="suggestion__no-result">
            ничего не найдено
        </div>
    </div>
</script>
