.header {
    &__top {
        padding: 6px 0;
        color: $hint;
        border-bottom: 1px solid $greyBorder;
        background-color: $grey;
    }

    &__top-inner {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    &__city {
        align-items: center;
        display: flex;
        font-size: 12px;
        line-height: (20/12);

        svg {
            display: block;
            margin-right: 8px;
        }
    }

    &__menu {
        display: flex;
    }

    &__menu-item {
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__menu-link {
        align-items: center;
        display: flex;
        font-size: 12px;
        line-height: (20/12);

        svg {
            display: block;
            margin-left: 2px;
        }
    }

    &__bottom {
        border-bottom: 1px solid $greyBorder;
    }

    &__bottom-inner {
        align-items: center;
        display: flex;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    &__bottom-item {
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__user-link {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 40px;
        height: 40px;
        font-weight: 600;
        color: $white;
        border-radius: 50%;
        background-color: $purple;
    }
}
